<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Percy Saico Ccapa</strong>
                            </span> <span class="text-muted text-xs block">Percy Saico Ccapa<b class="caret"></b></span>
                        </span>
                    </a>*@
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>*@
                </div>
                <div class="logo-element">
                    ID
                </div>
            </li>

            <!--Menu principal de la aplicacion INICIO -->

            <li class="@Html.IsSelected(controller: "Colaboradores")">
                <a href="@Url.Action("Index", "Colaboradores")"><i class="fa fa-th-large"></i> <span class="nav-label">Colaboradores</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Colaboradores")">Mostrar Todos</a></li>
                    <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Colaboradores")">Nuevo Colaborador</a></li>
                    <li class="@Html.IsSelected(action: "SearchEdit")"><a href="@Url.Action("SearchEdit", "Colaboradores")">Editar Colaborador</a></li>
                    <li class="@Html.IsSelected(action: "SearchDetails")"><a href="@Url.Action("SearchDetails", "Colaboradores")">Detalle Colaborador</a></li>
                    <li class="@Html.IsSelected(action: "SearchDelete")"><a href="@Url.Action("SearchDelete", "Colaboradores")">Eliminar Colaborador</a></li>
                    <li class="@Html.IsSelected(action: "Search")"><a href="@Url.Action("Search", "Colaboradores")">Buscar Colaborador </a></li>
                    <li class="@Html.IsSelected(action: "SearchImprimir")"><a href="@Url.Action("SearchImprimir", "Colaboradores")">Imprimir Fotocheck</a></li>
                </ul>
            </li>
            <!--Menu principal de la aplicacion FINAL -->
            <!--Menu principal de la aplicacion INICIO Registro de Ingreso  y Salida-->

            <li class="@Html.IsSelected(controller: "Control de Asistencias")">
                <a href="@Url.Action("Index", "Colaboradores")"><i class="fa fa-edit"></i> <span class="nav-label">Registro Diario</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "RegistroDiario")"><a href="@Url.Action("RegistroDiario", "RegistrosDiarios")">Registro de Ingreso y Salida de Colaboradores</a></li>
                

                </ul>
            </li>
            <!--Menu principal de la aplicacion FINAL de Ingreso  y Salida -->
            <!--Menu principal de la aplicacion INICIO TAREO -->

            <li class="@Html.IsSelected(controller: "Tareos")">
                <a href="@Url.Action("action", "controller")"><i class="fa fa-edit"></i> <span class="nav-label">Tareo de Personal</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "action")"><a href="@Url.Action("action", "controller")">Tareo Mensual</a></li>
                    <li class="@Html.IsSelected(action: "action")"><a href="@Url.Action("action", "controller")">Tareo por Colaborador</a></li>
                    <li class="@Html.IsSelected(action: "action")"><a href="@Url.Action("action", "controller")">Tareo por Area</a></li>
                    <li class="@Html.IsSelected(action: "action")"><a href="@Url.Action("action", "controller")">Imprimir Tareo</a></li>
                </ul>
            </li>
            <!--Menu principal de la aplicacion FINAL TAREO -->
           
            <!--Menu principal de la aplicacion INICIO REPORTES -->
            <li class="@Html.IsSelected(controller: "Reportes")">
                <a href="@Url.Action("action", "controller")"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">         
                    <li class="@Html.IsSelected(action: "ShowReportRegistroControlDeAsistenciasXDNI")"><a href="@Url.Action("ShowReportRegistroControlDeAsistenciasXDNI", "Reportes")">Registro de Control de Asistencias</a></li>
                    <li class="@Html.IsSelected(action: "ShowReportNumeroColaboradoresEnLasInstalacionesHoy")"><a href="@Url.Action("ShowReportNumeroColaboradoresEnLasInstalacionesHoy", "Reportes")">Colaboradores En las Instalaciones</a></li>

                </ul>
            </li>
            <!--Menu principal de la aplicacion FINAL REPORTES -->
            <!--Menu principal de la aplicacion INICIO INFORMACION -->
            <li class="@Html.IsSelected(controller: "Cuentas de Usuario")">
                <a href="@Url.Action("action", "controller")"><i class="fa fa-desktop"></i> <span class="nav-label">Cuentas de Usuario</span>  <span class="pull-right label label-primary">ESPECIAL</span></a>
                <ul class="nav nav-second-level">
                    
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Account")">Usuarios</a></li>
                    <li class="@Html.IsSelected(action: "Register")"><a href="@Url.Action("Register", "Account")">Nuevo Usuario</a></li>


                </ul>
            </li>

            <!--Menu principal de la aplicacion INICIO INFORMACION -->



            
        </ul>
    </div>
</nav>