@model Inspinia_MVC5.Models.Colaboradores

@{
    ViewBag.Title = "Detalle";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Colaborador</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar a Listado de Colaboradores", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
               
                <div class="ibox-title">
                    <h5>Información Detallada de Colaborador</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>*@
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaContratacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngresoReingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngresoReingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

       <dd>
     <img width="50" height="50" src="@Url.Action("ConvertirAImagen", "Colaboradores", new {COD_Colaborador = Model.COD_Colaborador })" />
       </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Areas.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresas.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.RazonSocial)
        </dd>

    </dl>


	   
        @Html.ActionLink("Imprimir Fotocheck", "FotocheckColaboradorPDF", new { COD_Colaborador = Model.COD_Colaborador }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Editar", "Edit", new { id = Model.COD_Colaborador }, new { @class = "btn btn-white btn-sm" })
                    @Html.ActionLink("Regresar a Listado de Colaboradores", "Index", null, new { @class = "btn btn-white btn-sm" })

                </div>
            </div>
        </div>
    </div>
 </div>













