@model IEnumerable<Inspinia_MVC5.Models.Colaboradores>

@{
    ViewBag.Title = "Todos";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Colaboradores</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Lista</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Colaboradores Con Autorización Para Ingresar a la Instalaciones</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>*@
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">

                    <table class="footable table table-stripped" data-page-size="5" data-filter=#filter>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Foto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.COD_Colaborador)
                                </th>
                                <th>
                                    Apellidos Y Nombres
                                </th>

                               

                                <th>
                                    @Html.DisplayNameFor(model => model.Areas.NombreArea)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaIngresoReingreso)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaCese)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                          @foreach (var item in Model)
                          {
                            <tr>
                                <td>
                                    <img width="50" height="50" src="@Url.Action("ConvertirAImagen", "Colaboradores", new {COD_Colaborador = item.COD_Colaborador})" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.COD_Colaborador)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno) @Html.DisplayFor(modelItem => item.Nombres)
                                </td>

                              

                                <td>
                                    @Html.DisplayFor(modelItem => item.Areas.NombreArea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaIngresoReingreso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCese)
                                </td>
                                  <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    @Html.ActionLink("Imprimir Fotocheck", "FotocheckColaboradorPDF", new { COD_Colaborador = item.COD_Colaborador }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Detalles", "Details", new { id = item.COD_Colaborador }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Editar", "Edit", new { id = item.COD_Colaborador }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.COD_Colaborador }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                          }
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

 </div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();


        });
    </script>
}

