@model Inspinia_MVC5.Models.EditUserViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Eliminar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Eliminar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar a Listado de Usuarios", "Index", null, new { @class = "btn btn-primary", id = "btnRegresarListadoUsuarios", name = "btnRegresarListadoUsuarios" })
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>Eliminar Información del Usuario</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h4 class="text-danger">¿Realmente desea eliminar la información del usuario?</h4>
                    <dl class="dl-horizontal">

                        <div>

                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>





                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                              
                                <div class="form-actions no-color">
                                    <input type="submit" value="Eliminar" class="btn btn-primary" id="btnEliminarColaborador" name="btnEliminarColaborador"  />
                                    @Html.ActionLink("Regresar a Listado de Usuarios", "Index", null, new { @class = "btn btn-white", id = "btnRegresarListadoUsuariosx", name = "btnRegresarListadoUsuariosx" })
                                </div>
                            }
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
